<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col">
      <div class="h-100 d-flex flex-column">
        <div class="">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
            <a class="navbar-brand" href="#">
              <img class="logo" src="assets/eversis.png" width="150" height="50" alt="eversis">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item" [routerLink]="['/home']" routerLinkActive="active">
                  <a class="nav-link" href="#/home">Home
                    <span class="sr-only"></span>
                  </a>
                </li>
                <li class="nav-item" [routerLink]="['/page1']" routerLinkActive="active">
                  <a class="nav-link" href="#/page1">Page1</a>
                </li>
                <li class="nav-item" [routerLink]="['/page2']" routerLinkActive="active">
                  <a class="nav-link" href="#/page2">Page2</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="h-100">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>