h4{
    padding: 5px;
    background: white;
    border-radius: 5px;
}

.form-page1{
    align-items: stretch;
    justify-content: space-evenly;   
    text-align: center; 
}

.invalid-message{
    display: flex;
    width: auto;
    color: darkred;
    font-size: 80%;
    align-items: center;
}